[submodule "lib/ImGuiFileDialog"]
	path = lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "lib/darknet"]
	path = lib/darknet
	url = https://github.com/AlexeyAB/darknet
